<section class="Container">
        <div class="Header">
            <div class="Title"> 
                <h1>Camp Second Chance</h1>
                <h2>(206) 578-6551</h2>
            </div>
            <div class="FBLink">
                <a href="https://www.facebook.com/groups/823968681070416/" target="new"><img src="/assets/images/FB-f-Logo__white_50.png"></a>
            </div>
            <div class="Nav">
                    <a href="index.html">Who We Are</a>
                    <a href="help.html">How to Help</a>
                    <a href="contact.html">Contact us</a>
            </div>
        </div>
        <div class="Main">   
            <router-outlet></router-outlet>
        </div>
</section>